- 옵시디언 카드 내비게이터 플러그인
	- 옵시디언의 노트를 카드 형태로 시각화하여 직관적인 노트 탐색과 상호작용을 돕는 플러그인
- 주요 개념  
	- 카드: 옵시디언 노트의 내용(파일명, 퍼스트헤더, 본문, 태그, 생성일, 업데이트 날짜, 프로퍼티 등)을 헤더, 바디, 풋터로 구성된 카드로 표시  
	- 카드 셋: 뷰에 표시하는 카드 집합, 옵시디언 노트를 필터링한 결과  
	- 카드 목록: 카드 셋에 정렬 기준과 순서를 부여하여 순서대로 나열한 목록  
	- 활성 파일: 옵시디언 편집창에 열려있는 노트의 파일  
	- 활성 카드: 활성 파일의 카드  
	- 활성 폴더: 활성 파일이 속한 폴더  
	- 포커스드 카드: 상호작용을 위해 선택된 카드
- 기능 구현
	- 플러그인 일반
		- 리본 메뉴 표시
		- 사이드 패널에 뷰 활성화
	- 카드
		- 표시 항목 사용자화
			- 헤더: 파일명, 퍼스트헤더, 본문, 태그, 날짜, 저정 속성값 등 선택
			- 바디: 파일명, 퍼스트헤더, 본문, 태그, 날짜, 저정 속성값 등 선택
			- 풋터: 파일명, 퍼스트헤더, 본문, 태그, 날짜, 저정 속성값 등 선택
		- 렌더링 옵션
			- 일반 텍스트
			- 마크다운 렌더링 (HTML 변환, 이미지, 코드블록, 하이라이팅, 콜아웃, 수식 등 지원)
		- 스타일 사용자화
			- 카드
				- 일반 카드: 배경, 폰트 크기, 테두리 등 스타일 설정
				- 활성 카드(엑티브 카드): 배경, 폰트 크기, 테두리 등 스타일 설정
				- 포커스드 카드: 배경, 폰트 크기, 테두리 등 스타일 설정
			- 헤더: 배경, 폰트 크기, 테두리 등 스타일 설정
			- 바디: 배경, 폰트 크기, 테두리 등 스타일 설정
			- 풋터: 배경, 폰트 크기, 테두리 등 스타일 설정
	- 카드셋 
		- 폴더 카드셋: 폴더를 기준으로 표시할 카드 그룹 생성
			- 활성 폴더: 활성 파일이 있는 폴더의 노트를 표시, 다른 폴더에 있는 파일을 열면 활성 폴더가 바뀌므로 표시되는 카드 목록도 바뀜
			- 폴더 지정: 지정한 폴더의 노트를 표시, 다른 폴더에 있는 파일을 열어도 폴더가 지정되어 있으므로 카드 목록이 바뀌지 않음, 폴더 지정 옵션을 선택하면 SuggestModal로 볼트 내 폴더 경로가 표시되면 직접 입력 또는 선택하여 자동완성
			- 하위 폴더 포함 옵션
		- 태그 카드셋: 태그를 기준으로 표시할 카드 그룹 생성
			- 활성 태그: 활성 파일의 태그를 하나라도 포함하고 있는 모든 노트를 표시
			- 태그 지정: 지정한 태그를 하나라도 포함하고 있는 모든 노트를 표시, 태그 지정 옵션을 션택하면 SuggestModal로 볼트 내 태그가 표시되면 직접 입력 또는 선택하여 자동완성
		- 링크 카드셋: 링크를 기준으로 표시할 카드 그룹 생성
			- 백링크와 아웃고잉링크(https://help.obsidian.md/plugins/backlinks, https://help.obsidian.md/plugins/outgoing-links)
			- 링크 레벨: 카드 그룹을 생성할 링크의 단계(깊이)를 설정
	- 검색
		- 검색 범위: 볼트 전체와 현재 카드셋(폴더, 태그, 링크)에서 선택
		- 검색 결과: 검색 옵션과 키워드에 따라 검색 범위의 카드셋을 필터링하여 새로운 카드셋 구성
		- 실시간 검색(검색어 입력 시 즉시 결과 필터링), 검색어 입력 필드에 검색 옵션 및 검색어가 입력되면 검색 모드로 전환, 검색어 삭제 버튼 생성, 검색 모드에서는 검색된 결과로 카드 표시 고정, 검색어가 삭제되면 검색 모드로 전환되기 전에 사용하던 카드셋으로 전환
		- 옵시디언의 검색 플러그인 활용 또는 동일하게 구현 https://help.obsidian.md/plugins/search
	- 정렬
		- 일반 정렬 기준
			- 파일 이름, 업데이트 날짜, 생성일 , 사용자 지정 프론트메터값 기준
			- 오름차순 내림 차순 설정
		- 특별 정렬 기준
			- 우선 순위 태그 (Priority Tags)
				- 사용자가 지정한 태그를 포함하는 노트들이 카드 목록의 상단에 먼저 표시
				- 예를 들어, #중요, #프로젝트, #할일 등의 태그를 우선 순위 태그로 설정하면, 이 태그들이 포함된 노트가 다른 노트보다 먼저 표시
				- 여러 개의 우선 순위 태그를 쉼표로 구분하여 설정
			- 우선 순위 폴더 (Priority Folders):
				- 사용자가 지정한 폴더에 있는 노트들이 카드 목록의 상단에 먼저 표시됩니다.
				- 예를 들어, /프로젝트, /일일노트, /중요 등의 폴더를 우선 순위 폴더로 설정하면, 이 폴더들에 있는 노트가 다른 노트보다 먼저 표시
				- 여러 개의 우선 순위 폴더를 쉼표로 구분하여 설정
		- 카드 목록을 정렬할 때 우선 순위 태그나 폴더에 해당하는 노트를 먼저 배치하고, 그 다음에 일반 정렬 기준(파일명, 생성일, 수정일 등)에 따라 나머지 노트를 정렬
		- 사용 맥락
			- 중요한 노트 강조: 특별히 중요한 노트나 자주 참조하는 노트를 항상 상단에 표시
			- 작업 우선순위 관리: 현재 작업 중인 프로젝트나 우선순위가 높은 작업 관련 노트를 먼저 볼 수 있게 함
			- 정보 접근성 향상: 자주 접근하는 정보가 담긴 노트를 쉽게 찾을 수 있게 함
	- 레이아웃
		- 카드 높이 고정 여부(그리드와 메이슨리 결정), 카드 임계 너비와 카드 임계 높이로 레이아웃 자동 설정  
		- 카드 높이 고정을 비활성: 메이슨리 레이아웃
			- 세로 레이아웃만 적용
				- 뷰포트의 너비와 카드 임계 너비를 기준으로 열 수 결정
				- 모든 열이 뷰포트 안에 들어오도록 함(카드의 너비는 뷰포트의 너비에서 여백과 카드 간격을 뺀 나머지를 열 수로 분배)
				- 카드의 높이는 컨텐츠의 양에 따라 자동으로 결정
				- 세로 방향으로 스크롤하여 카드 탐색
		- 카드 높이 고정을 활성화: 그리드 레이아웃
			- 가로 레이아웃: 뷰포트의 가로>세로
				- 뷰포트의 높이와 카드 임계 높이를 기준으로 행 수 결정
				- 모든 행이 뷰포트 안에 들어오도록 함(카드의 높이는 뷰포트의 높이에서 여백과 카드 간격을 뺀 나머지를 행 수로 분배)
				- 카드의 너비는 임계 너비와 같음
				- 가로 방향으로 스크롤하여 카드 탐색
			- 세로 레이아웃: 뷰포트의 세로>가로
				- 뷰포트의 너비와 카드 임계 너비를 기준으로 열 수 결정
				- 모든 열이 뷰포트 안에 들어오도록 함(카드의 너비는 뷰포트의 너비에서 여백과 카드 간격을 뺀 나머지를 열 수로 분배)
				- 카드의 높이는 임계 높이와 같음
				- 세로 방향으로 스크롤하여 카드 탐색
		- 플러그인에서는 카드의 너비나 높이를 계산하지 않고 열이나 행 수만 계산, CSS에서 카드 임계 너비와, 임계 높이를 적용하거나, 열이나 행 수에 따라 카드의 너비와 높이를 분배함
	- 네비게이션
		- 스크롤 및 키보드 내비게이션
			- 활성 파일의 카드가 뷰포트 중앙에 위치
			- 활성 파일의 카드는 테두리 색 강조
			- 부드러운 스크롤과 즉시 표시 선택
			- 옵시디언 어디서든 단축키로 카드 내비게이터의 활성 파일로 포커스 설정
			- 키보드 방향키로 포커스 이동, 포커스 된 카드는 항상  화명 중앙에 위치
			- 포커스된 카드에서 엔터키를 입력하여 파일 열기
	- 카드 상호작용
		- 마우스 왼쪽 클릭
			- 카드에 해당하는 노트가 편집창에 열림
		- 마우스 오른쪽 클릭
			- 컨텍스트 메뉴(복사) 추가
				- 옵시디언 파일 탐색기 컨텍스트 메뉴 아래에 구부선으로 나누어 아래 메뉴 추가
					- 링크 복사: [[파일명]]으로 링크 복사
					- 내용 복사: 파일의 내용을 복사
		- 드래그 앤 드랍
			- 카드를 편집창에 드래그앤드랍하여 카드의 링크/내용을 삽입
			- 카드를 다른 카드에 드래그앤다랍하여 카드 간 링크 생성
		- 더블 클릭
			- 카드(헤더, 바디, 풋터)를 더블클릭하여 카드 네비게이션에서 바로 편집
		- 다중 선택(Shift 클릭으로 범위 선택, Ctrl 클릭으로 개발 선택, Ctrl + A로 전체 선택) 후 일괄 작업 지원
	- 프리셋
		- 사용자 설정을 저장하고 쉽게 불러올 수 있게 함
		- 사용자 정의 프리셋 생성/삭제/적용
		- 폴더별/태그별 프리셋 매핑하여 자동 적용, 우선 순위 설정
			- 폴더 프리셋: 볼트를 포함하여 특정 폴더에 매핑된 프리셋, 하위 폴더 포함 여부 선택
			- 태그 프리셋: 특정 태그에 매핑된 프리셋
			- 생성일 특정 기간, 업데이트 날짜 특정 기간 등 다른 타입에 프리셋을 매핑할 수 있을지 검토
	- 툴바
		- 카드셋 생성 방식(폴더, 태그, 링크) 표시 아이콘
		- 검색어 입력 필드
		- 정렬 아이콘: 클릭하면 팝업 메뉴 표시
			- 파일 이름 (알파벳 순)
			- 파일 이름 (알파벳 역순)
			- 업데이트 날짜 (최신순)
			- 업데이트 날짜 (오래된 순)
			- 생성일 (최신순)
			- 생성일 (오래된 순)
		- 설정 토글 아이콘: 클릭하면 SettigTab의 설정 항목 중 자주 사용하는 항목을 표시
			- 카드셋 생성 방식(폴더, 태그, 링크) 선택 메뉴
			- 프리셋 선택 드롭박스, 현재 설정으로 생성 버튼, 현재 설정으로 업데이트 버튼
			- 카드 표시 항목(헤더, 바디, 풋터)  토글
			- 카드 렌더링 방식(일반, HTML) 토글
			- 레이아웃 모드(카드 높이 일치 토글)
	- 설정
		- 카드셋: 폴더, 태그, 링크 중 선택
		- 카드
			- 내용
				- 헤더: 파일명, 퍼스트헤더, 본문, 태그, 날짜, 저정 속성값 등 선택
				- 바디: 파일명, 퍼스트헤더, 본문, 태그, 날짜, 저정 속성값 등 선택
				- 풋터: 파일명, 퍼스트헤더, 본문, 태그, 날짜, 저정 속성값 등 선택
			- 렌더링 방식
				- 일반 텍스트
				- HTML(이미지, 코드블록, 콜아웃, 수식 등)
			- 스타일
				- 카드 종류별 배경, 폰트 크기, 상하좌우 테두리 색, 두께 등 스타일 설정, 색 기본값은 옵시디언의 강조색
					- 일반카드
					- 활성 카드(엑티브 카드)
					- 포커스드 카드
				- 헤더: 배경, 폰트 크기, 상하좌우 테두리 색, 두께 등 스타일 설정
				- 바디: 배경, 폰트 크기, 상하좌우 테두리 색, 두께 등 스타일 설정
				- 풋터: 배경, 폰트 크기, 상하좌우 테두리 색, 두께 등 스타일 설정
		- 정렬
			- 기준(파일 이름, 업데이트 날짜, 생성일 , 사용자 지정 프론트메터값), 순서(오름차순/내림차순) 설정
		- 레이아웃
			- 카드 높이 일치 토글(활성이면 그리드, 비활성이면 메이슨리)
			- 카드 임계 너비 설정 슬라이더
			- 카드 임계 높이 설정 슬라이더
		- 프리셋
			- 프리셋 생성
				- 생성 버튼(현재 설정을 프리셋으로 저장), 가져오기
			- 프리셋 목록
				- 프리셋 이름, 설명, 프리셋 관리 버튼(복제, 편집, 현재 설정으로 업데이트, 삭제, 내보내기), 편집, 삭제, 내보내기는 프리셋을 JSON 파일 형태로 보여주는 모달 표시, 더 좋은 방법이 있는지 검토
			- 프리셋 매핑
				- 폴더 프리셋
					- 폴더 선택 - 프리셋 매핑, 
				- 태그 프리셋
					- 태그 선택 - 프리셋 매핑, 위아래 이동 버튼으로 우선 순위 설정
			- 적용 우선 순위 설정
				- 폴더 프리셋과 태그 프리셋을 함께 목록으로 표시하고 위아래 이동 버튼으로 이동, 목록의 위에 있는 것부터 우선 적용